{:source-paths ["src" "test"]
 :dependencies [[expound "0.7.2"]]
 :builds       {:app   {:target     :browser
                        :output-dir "public/js"
                        :modules    {}}
                :tests {}}}
